.faq{
	margin-top: 100px;
	padding: 60px 0;
}

.accordion__list{
	margin: 40px auto 0 auto;
	max-width: 880px;
}

.accordion__control{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background-color: transparent;
	cursor: pointer;
	text-align: left;
	font: var(--prehigh-regular);
	font-weight: 400;
	color: var(--color-tuna);
	padding: 10px 0;
}

.accordion__list{
	border-top: 1px solid var(--color-bombay);
}
.accordion__item{
	border-bottom: 1px solid var(--color-bombay);
}

.accordion__content{
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	will-change: max-height;
	transition: max-height 0.3s ease-in-out, 
	padding 0.3s ease-in-out, opacity 0.6s ease-in-out;
	box-sizing: content-box;
	font: var(--middle-book);
}

.accordion__icon img{
	width: 16px;
	height: 16px;
	transform: rotate(45deg);
	transition: transform 0.3s ease-out;
}

.open .accordion__icon img{
	transform: rotate(0deg);
}

.open + .accordion__content{
	opacity: 1;
	max-height: max-content;
	padding: 20px 0;
}

/* ------ */
@media (max-width: 320px){
	.faq{
		margin-top: 0px;
		padding: 0;
	}
	.faq__title{
		line-height: 1;
		padding: 10px 0;
		font-size: 1.5rem;
		text-align: center;
	}
	.accordion__list{
		margin: 10px auto;
	}
	.accordion__control{
		padding: 5px;
	}
	.accordion__title{
		font-size: 1rem;
	}
	.open + .accordion__content{
		padding: 5px 0;
		line-height: 1;
	}
}