.js-move-to{
	color: inherit;
}

.btn{
	padding: 22px 47px;
	border-radius: 4px;
	font: var(--middle-regular);
	transition: color 0.3s ease-in-out, 
	background-color 0.3s ease-in-out;
}

.btn--primary{
	background-color: var(--color-carnation);
	color: var(--color-white);	
}

.btn--secondary{
	background-color: var(--color-river-bed);
	color: var(--color-white);
	width: 100%;
	margin-bottom: 20px;
}

.btn-small{
	color: var(--color-river-bed);
	font: var(--middle-book);
	transition: color 0.3s ease-in-out;
}

.product__btn{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	background-color: var(--color-river-bed);
	border-radius: 100%;
	transition: background-color 0.3s ease-in-out;
}

.product__btn img{
	width: 32px;
	height: 32px;
}

.catalog__more{
	margin-top: 40px;
	padding: 16px;
}

.btn-quiz{
	padding: 18px 44px;
	color: var(--color-river-bed);
	border: 1px solid var(--color-river-bed);
	border-radius: 4px;
	transition: all 0.3s ease-in-out;
}

.form-feedback__btn{
	width: 100%;
		&:hover{
		background-color: var(--color-mojo);
	}
}

/* .form-feedback__btn:hover{
	background-color: var(--color-mojo);
} */

.modal-info__order{
	width: 100%;
	margin-top: auto;
}

.btn-mini-cart{
	padding-top: 12px;
	padding-bottom: 12px;
}

.btn-last-question{
	margin-top: 10px;
	max-width: max-content;
	padding: 15px 80px;

	&:hover{
		background-color: var(--color-east-bay);
	}
}

/* ------ */
@media (min-width: 1025px){
	.btn--primary:hover{
		background-color: var(--color-mojo);
	}

	.btn--secondary:hover{
		background-color: var(--color-tuna);
	}

	.btn-small:hover{
		color: var(--color-bombay);
	}

	.product__btn:hover{
		background-color: var(--color-tuna);
	}

	.btn-quiz:hover{
		color: var(--color-white);
		background-color: var(--color-river-bed);
	}
}

@media (max-width: 860px){
	.btn{
		padding: 12px 6px;
	}
}