.quiz{
	margin-top: 100px;
	padding: 60px 0;
}

.quiz__content{
	border-radius: 4px;
	background-color: var(--color-seashell-peach);
	padding: 40px 100px;
}

.quiz__title{
	margin-bottom: 10px;
	font-family: var(--font-regular);
	font-size: 25px;
}

.quiz__descr{
	font: var(--middle-book);
	color: var(--color-light-gray);
	border-bottom: 1px solid var(--color-light-gray);
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.quiz-question__title{
	font: var(--prehigh-book);
	margin-bottom: 20px;
}

.quiz-question__item img{
	/* margin-bottom: 10px; */
}

.quiz-question__answers{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 150px;
	gap: 20px 70px;
	padding-bottom: 40px;
}

.quiz-bottom{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid var(--color-light-gray);
	padding-top: 20px;
}

.quiz-count{
	color: var(--color-light-gray);
	font: var(--middle-book);
}

/* Step 3 */
.quiz-question__label{
	
}
.quiz-question__message{
	width: 465px;
	height: 246px;
	padding: 10px;
	font: var(--middle-book);
	color: var(--color-tuna);
	background-color: var(--color-white);
	border: 1px solid var(--color-bombay);
	border-radius: 4px;
	margin-bottom: 20px;
	resize: none;
}

/* Step 4 */
.last-question__form{
	display: flex;
	flex-direction: column;
	max-width: 555px;
	border-radius: 4px;
	padding: 40px;
	margin-bottom: 20px;
	background-color: var(--color-cameo);
}

.last-question__title{
	font: var(--prehigh-regular);
	font-size: 36px;
	line-height: 1;
	margin-bottom: 20px;
	color: var(--color-white);
}

.last-question__descr{
	color: var(--color-white);
	margin-bottom: 20px;
}

.last-question__input{
	max-width: 100%;
	padding: 10px 20px;
	margin-bottom: 10px;
}