.product{
	border-radius: 4px;
	overflow: hidden;
}

.product__btns{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
	width: 100%;
	height: 100%;
	background: rgba(173, 173, 173, 0.1);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in-out, 
	visibility 0.3s ease-in-out, 
	background 0.3s ease-in-out;
}

.product__image{
	position: relative;
	width: 100%;
	max-height: 293px;
	margin-bottom: var(--small-offset);
}

.product__image > img{
	display: block;
	width: 100%;
	height: 293px;
	object-fit: cover;
}

.product__title{
	font: var(--middle-book);
	color: var(--color-river-bed);
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product__price{
	font: var(--middle-regular);
	font-size: 20px;
	line-height: 1;
	color: var(--color-river-bed);
}

.product:hover .product__btns{
	opacity: 1;
	visibility: visible;
	background: rgba(173, 173, 173, 0.6);
}

/* ------ */
@media (max-width: 860px){
	.product__image{
		max-height: 193px;
	}	
	.product__image > img{
		height: 193px;
	}
}