.footer{
	width: 100%;
}

.footer__container{
	font-size: 0.8rem;
	color: var(--color-big-title);
	text-align: center;
}
.footer__container span{
	font-size: 1.2rem;
}

.footer__container a{
	margin-left: 30px;
	color: var(--color-east-bay);
	text-decoration: underline;
	transition: color 0.3s ease-in-out;
}

.footer__container a:hover{
	color: coral;
}
