.modal-content{
	width: 1140px;
	padding: 40px;
}

.prod-modal__top{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.modal-slider{
	width: calc(50% - 20px/2);
	margin-right: 20px;
}

.modal-info{
	width: calc(50% - 20px/2);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.modal-slider__container{
	width: 100%;
	overflow: hidden;
	font-size: 0;
}

.swiper-slide img{
	width: 100%;
	object-fit: cover;
	max-height: 460px;
}

.modal-preview{
	display: grid;
	grid-template-columns: repeat(3, 70px);
	gap: 20px;
}

.modal-preview__item{
	border-radius: 4px;
	height: 75px;
	cursor: pointer;
	transition: opacity 0.3s ease;
}

.modal-preview img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.modal-info__top{
	display: flex;
	align-items: center;
	font: var(--middle-book);
	color: var(--color-bombay);
	margin-bottom: 20px;
}

.modal-info__vendor{
	margin-right: 40px;
}

.modal-info__quantity span{
	font: var(--middle-regular);
	color: var(--color-river-bed);
}

.modal-info__title{
	font: var(--prehigh-book);
	line-height: 1.3;
	margin-bottom: 20px;
}

.modal-info__rate{
	margin-bottom: 20px;
}

.modal-info__subtitle{
	display: inline-block;
	margin-bottom: 20px;
}

.modal-sizes{
	display: flex;
	flex-wrap: wrap;
	align-items: center;	
	margin-bottom: 20px;
}

.modal-sizes__item:not(:last-child){
	margin-right: 20px;
}

.modal-sizes__btn{
	font: var(--small-book);
	color: var(--color-river-bed);
	border: 1px solid var(--color-bombay);
	border-radius: 4px;
	padding: 6px 27px;
	transition: all 0.3s ease-in-out;
}

.modal-sizes__btn--active{
	color: var(--color-white);
	background-color: var(--color-tuna);
}


.modal-info__price{
	display: flex;
	align-items: center;
}

.modal-info__current-price{
	font: var(--middle-high-bold);
	margin-right: 32px;
}

.modal-info__old-price{
	font: var(--middle-book);
	color: var(--color-light-gray);
}

.modal-note__item{
	padding-left: 25px;
	font: var(--small-book);
	color: var(--color-light-gray);
	margin-top: 10px;
	background-image: url('../src/assets/icons/iconCheck.svg');
	background-position: left center;
	background-size: 15px 12px;
	background-repeat: no-repeat;
}

.prod-bottom{
	display: flex;
}

.prod-bottom__column{
	width: calc(50% - 20px/2);
}

.prod-bottom__column:first-child{
	margin-right: 20px;
}

.prod-bottom__title{
	font: var(--prehigh-book);
	margin-bottom: 20px;
}

.prod-bottom__descr{
	margin: 0;
	font: var(--middle-book);
}

.prod-modal__bottom{
	margin-bottom: 40px;	
}

.prod-modal__video{
	width: 100%;
	height: 450px;
	border: none;
}

/* ------ */
@media (min-width: 1025px){
	.modal-sizes__btn:hover{
		background-color: var(--color-bombay);
	}

	.modal-preview__item:hover{
		opacity: 0.7;
	}
}
