html{
	box-sizing: border-box;
}

*, *::before, *::after{
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

html, body, #root{
	width: 100%;
	height: 100%;
}

body{
	background-color: var(--color-white);
	font: var(--middle-regular);
	color: var(--color-river-bed);
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
}

button{
	border: none;
	cursor: pointer;
	background-color: transparent;
	padding: 0;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

input, input:focus{
	outline: none;
	border: none;
}

.input-feedback{
	border-radius: 4px;
	padding: 0 20px;
	width: 100%;
	height: 60px;
	background-color: var(--color-white);
	color: var(--color-river-bed);
	font-size: 20px;
}

.input-feedback::placeholder{
	font-family: var(--font-book);
	color: var(--color-bombay);
	font-size: 16px;
}

.img{
	max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1210px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}

.title{
	font: var(--middle-high-bold);
	color: var(--color-river-bed);
}

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

.main{
	
}